@import 'variables';

footer {
  margin: 0;
  background: #fff;
  display: flex;
  div {
    flex: 1;
    &:nth-child(2){
      text-align: right;
    }
  }
  p {
    color: $headingColor;
    line-height: 120px;
    padding: 0;
    margin: 0;
  }
}