section.hero {
  width: 90%;
  max-width: 980px;
  margin: 15vh auto 10vh auto;
  position: relative;
  text-align: center;
  padding-bottom: 10vh;
  img {
    width: 204px;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 0;
  }
  p {
    margin-top: .5rem;
    font-size: 16px;
    line-height: 28px;
    max-width: 500px;
    display: inline-block;
  }
  .btn {
    font-size: 24px;
    padding: 0 30px;
    border-radius: 30px;
    line-height: 60px;
  }
}

@media screen and (min-width: 768px) {
  section.hero {
    height: 50vh;
    margin: 25vh auto 10vh auto;
    text-align: left;
    padding-bottom: 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
    h1 {
      font-size: calc(48px + 1vw);
      margin-left: 240px;
    }
    p {
      margin-top: calc(1vw);
      font-size: calc(16px + .8vw);
      line-height: calc(28px + .8vw);
      margin-left: 240px;
      max-width: none;
    }
    .btn {
      margin-left: 240px;
    }
  }
}