section.hero {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 0 10vh 0;
  background-image: url('./../assets/images/hero-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  h1 {
    font-size: 48px;
    margin-bottom: 0;
  }
  p {
    margin-top: .5rem;
    font-size: 16px;
    line-height: 28px;
  }
}

@media screen and (min-width: 768px) {
  section.hero {
    h1 {
      font-size: calc(32px + 3.4vw);
    }
    p {
      margin-top: calc(1vw);
      font-size: calc(14px + 1vw);
      line-height: calc(28px + 1vw);
    }
  }
}