@import 'variables';

section.needHelp {
  background: $blue;
  padding: 3rem 0;
  vertical-align: middle;
  text-align: center;
  line-height: 60px;
  h1 {
    color: #fff;
    display: inline-block;
    margin: 0 1rem 0 0;
    font-size: 24px;
    line-height: 60px;
  }
  a.btn {
    font-size: 24px;
    padding: 0 30px;
    border-radius: 30px;
    line-height: 60px;
    background: #fff;
    color: $headingColor;
  }
}